<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- The INTERNET permission is required for development. Specifically,
         the Flutter tool needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:label="Scrobblium"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
       <service
           android:name=".MusicListenerService"
           android:label="Music Listener"
           android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
           android:exported="true">
           <intent-filter>
               <action android:name="android.service.notification.NotificationListenerService" />
           </intent-filter>
       </service>
   </application>
</manifest>
