name: app-build

on:
  push:
    tags:
      - '*'
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup jdk
        uses: actions/setup-java@v4.2.1
        with:
          java-version: '17'
          distribution: 'oracle'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.22.0'
      - name: Run build script
        run: |
          chmod +x tools/build.sh
          chmod +x tools/protoCreator.sh
          bash tools/build.sh

      - name: Create release
        uses: ncipollo/release-action@v1.14.0
        with:
          artifacts: "build/app/outputs/flutter-apk/*.apk"
      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: Scrobblium
          path: "build/app/outputs/flutter-apk/*.apk"
